<p>
  Your LST file reports assembly errors, which probably means that your
  code will not run as expected.&nbsp;  Assembly errors are treated
  harshly, so you should aim to get these fixed as a priority.
</p>
